* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main-size {
    width: 80%;
    margin: auto;
}

header {
    margin: 8PX 4PX;
    margin: auto;
}

nav {
    margin: 8px;
    display: flex;
    justify-content: space-between;
    padding: .75rem;
}


.box-2 {
    width: 80%;
    flex-grow: 1;

}

nav .nav-menu {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    font-weight: 400;
    text-transform: capitalize;
}

.box-1 {
    font-weight: 900;
    font-size: 1.5rem;
    width: 100px;
    flex-grow: 1;

}

.box-3 {
    padding: 0 15px;
    width: 100px;
    flex-grow: 1;
}

.nav-icon {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-top: 7px;
}

.nav-menu>:nth-child(4) {
    color: red;
}

.box {

    height: 30px;
    text-align: center;
}

.text-white {
    font-size: 15px;
    padding: 12px 10px;
    color: #ffffff;
}