* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}


/* 
slider css */

.slider {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.ss_txt {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 229px 35px;
}

.st1 {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 229px 35px;
}

.btn {
    font-weight: 500;
    color: #fff;
    padding: 9px 22px;
    background: #000;
    border: 1px solid black;
    cursor: pointer;
}

.btn:hover {
    color: #000;
    background-color: #fff;
}

.fade {
    animation: fadeIn ease-in 1s;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.hero-product {
    width: 95%;
    margin: auto;
    padding: 12px;
}

.hero-product-card {
    display: flex;
    width: 100%;
}

.hero-card {    
    overflow: hidden; 
    text-align: center;
    margin: 12px;
    position: relative;
}

.hero-card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.cldtl_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 20px 30px;
}
.f-aie {
    align-items: flex-end;
}
.f-jcc {
    justify-content: center;
}
.fl, .flex {
    display: flex;
}
.details-bx p{
    margin: 2px 12px 5px 23px;
}
.details-bx {
    padding: 15px 42px;
    background-color: #fff;
}

  .hero-card img {
    transition: transform .5s ease;
  }
  
  .hero-card:hover img {
    transform: scale(1.2);
  }