@media screen and (max-width:1350px) {

    .main-size {
        width: 100%;
    }
}

.hero {
    margin: 0 16px;
    padding: 0 16px;

}

.first-div {
    background-color: #f9f9f9;
}

div .span-wish {
    font-weight: bold;
}


.h3 {
    text-align: center;
    padding-top: 5px !important;
    font-weight: 900;
    margin-bottom: 25px !important;
}

.product-price {
    display: flex;
    background-color: #f9f9f9;
    height: 45px;
    margin-bottom: 30px;
}

.product-price p {
    height: 100%;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    width: 331px;
}

/* wish list */
ul>:nth-child(1) {
    background-color: #f9f9f9;
    font-weight: bold;
    text-transform: capitalize;

}

.first div {
    font-size: 12px;
    cursor: pointer;
    width: 100%;
}

.first {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.first .img {
    width: 110px;
}

.first .product {
    width: 520px;
}

.first .price {
    width: 163px;
}

.first .stock {
    width: 175px;
    color: green;
}

.first .button {
    width: 170px;
}

.first .cancle-btn {
    width: 40px;
}

.first .button .view-btn {
    font-size: 12px;
    padding: 5px 15px;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.first .button .view-btn:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.first .cancle-btn i {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    background-color: #F67280;
    color: white;
    transition: all 0.3s ease;
}

.first .cancle-btn i:hover {
    background-color: black;
}